<form *ngIf="configForm" [formGroup]="configForm">
  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <input formControlName="closeOnSelect" type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Close when a date is selected<br>
        <small>
          <code>closeOnSelect</code>
        </small>
      </span>
    </label>
  </div>

  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <input formControlName="disableWeekends" type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Disable selection of weekend days<br>
        <small>
          <code>disableWeekends</code>
        </small>
      </span>
    </label>
  </div>

  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <input formControlName="showDayQuickOptions" type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Show Quick Day Options<br>
        <small>
          <code>showDayQuickOptions</code>
        </small>
      </span>
    </label>
  </div>

  <div class="form-group row">
    <label for="display-format" class="col-12">
      Date Display Format<br>
      <small>
        <code>displayFormat</code>
      </small>
    </label>
    <div class="col-6">
      <select formControlName="displayFormat" name="display-format" id="display-format" class="form-control">
        <option *ngFor="let option of displayFormatOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <label for="min-date">
        Min (Earliest) Date<br>
        <small>
          <code>minDate</code>
        </small>
      </label>
      <ic-datepicker formControlName="minDate" [options]="minDateOptions"></ic-datepicker>
    </div>

    <div class="col">
      <label for="max-date">
        Max (Latest) Date<br>
        <small>
          <code>maxDate</code>
        </small>
      </label>
      <ic-datepicker formControlName="maxDate" [options]="maxDateOptions"></ic-datepicker>
    </div>
  </div>

  <div class="form-group row">
    <label for="display-format" class="col-12">
      Datepicker Position<br>
      <small>
        <code>position</code>
      </small>
    </label>
    <div class="col-6">
      <select formControlName="position" name="position" id="position" class="form-control">
        <option *ngFor="let option of positionOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</form>
