$mobileBreakpoint: 480px;

.ic-datepicker-container {
  position: relative;
}

@media (max-width: $mobileBreakpoint) {
  .ic-datepicker-underlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    background: rgba(#000, 0.3);
  }
}

.ic-datepicker {
  position: absolute;
  width: 270px;
  z-index: 1000;
  -webkit-box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.3);

  @media (max-width: $mobileBreakpoint) {
    position: fixed;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    width: 100%;
    width: 100vw;
  }

  @media only screen and (min-width: 481px) {
    &.top {
      transform-origin: 0 100%;
      bottom: 48px;
    }

    &.bottom {
      top: 48px;
    }
  }

  .ic-datepicker-input,
  .ic-datepicker-input[readonly] {
    background-color: #fff;
  }

  .cell {
    user-select: none;
    width: calc(100% / 7);
    font-size: 14px;
    height: 38px;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;

    @media (max-width: $mobileBreakpoint) {
      height: 44px;
      height: calc(100vw / 7);
    }

    &[disabled]:hover {
      cursor: not-allowed;
    }

    &.year {
      width: calc(100% / 5);
    }
  }
  .ic-datepicker-header-bar {
    display: flex;
    align-items: center;

    .action {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-title {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding-top: 4px;
      font-size: 15px;
      font-weight: 400;
      line-height: 34px;
      width: calc((100% / 7) * 5);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.year-title {
        margin-left: calc(100% / 7);
      }
    }
  }
}

.ic-datepicker-container .ic-datepicker .ic-datepicker-header-bar {
  .header-title:not(.year-title):hover, .cell.action:hover {
    cursor: pointer;
  }
}

.ic-datepicker {
  .ic-datepicker-year-select-options .close-year-select {
    display: block;
  }

  .ic-datepicker-day-labels .day-label {
    line-height: 38px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

ic-datepicker .ic-datepicker-dates .date {
  padding-top: 0;
  padding-bottom: 0;
}

.ic-datepicker {
  .ic-datepicker-dates .date span {
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 34px;
  }

  .quick-options {
    text-align: center;

    .quick-option {
      width: calc(100% / 2);
    }
  }

  .year-list .toggle-years {
    width: 100%;
    font-weight: 300;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
  .chevron {
    &::before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 10px;
      position: relative;
      top: 6px;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 10px;
    }

    &.chevron-up::before {
      position: relative;
      top: 8px;
    }

    &.chevron-right::before {
      left: -2px;
      transform: rotate(45deg);
    }

    &.chevron-down::before {
      position: relative;
      top: 3px;
      transform: rotate(135deg);
    }

    &.chevron-left::before {
      left: 3px;
      transform: rotate(-135deg);
    }
  }
}
