<div class="container-fluid api-doc-page">
  <div class="row">
    <div class="col-md-3 left-col">
      <div class="btn-group-vertical">
        <a
          *ngFor="let option of options"
          [ngClass]="{ active: option.label === activeOption.label }"
          [routerLink]="['/options', option.label]"
          class="btn btn-block btn-link text-left"
        >
          {{ option.label }}
        </a>
      </div>
    </div>

    <div class="col-md-9 right-col">
      <markdown-to-html
        *ngIf="activeOption"
        [src]="getMarkdownPathByConfigOption(activeOption)"
      ></markdown-to-html>
    </div>
  </div>
</div>
