@import "../../../styles/variables";

$code-block-header-bg: #606060;

.container-fluid {
  margin-top: -2.5rem;

  > .row {
    > div {
      padding: 2.5rem 30px;
      min-height: calc(100vh - 56px);

      &.options-col {
        .btn-group-vertical {
          width: 100%;

          .btn {
            border-radius: 3px;
            outline: none;
            box-shadow: none;
            letter-spacing: 0.02em;
            font-weight: 300;

            &:not(:last-child) {
              margin-bottom: 0.25rem;
            }

            &:hover {
              cursor: pointer;
            }

            &:focus {
              text-decoration: none;
            }

            &.active {

              background: $brand-primary;
              color: #fff;
            }
          }
        }

        @media (max-width: 992px) {
          padding: 2.5rem 10px;
        }
      }

      &.option-description-col {
        background: #e0e0e0;
        border-left: 1px solid #d0d0d0;

        /deep/ markdown-to-html {
          h2, h3 {
            margin-bottom: 0;
            padding: 15px;
            background: $code-block-header-bg;
            color: #fff;
            font-size: 16px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }

          pre {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}
