<div class="ic-datepicker-container">
    <input
            [(ngModel)]="selectedDay.formattedDate"
            [ngClass]="options.inputClasses"
            (click)="toggleDatepicker()"
            [id]="mergedOptions.attrs.id"
            [name]="mergedOptions.attrs.name"
            [placeholder]="mergedOptions.attrs.placeholder"
            [tabindex]="mergedOptions.attrs.tabindex"
            type="text"
    >

    <div [style.display]="datepickerIsOpen ? 'block' : 'none'" [ngClass]="mergedOptions.position" class="ic-datepicker">
        <div [style.display]="yearSelectMode ? 'none' : 'flex'" class="ic-datepicker-month-toggles">
            <button (click)="showPreviousMonth()" type="button" class="cell month-toggle">
                <i [ngClass]="mergedOptions.icons.previousMonth"></i>
            </button>

            <h3 (click)="showYearSelectMode()" class="month-title">
                {{ currentPeriod.format('MMMM YYYY') }}
            </h3>

            <button (click)="showNextMonth()" type="button" class="cell month-toggle">
                <i [ngClass]="mergedOptions.icons.nextMonth"></i>
            </button>
        </div>

        <div [style.display]="yearSelectMode ? 'block' : 'none'" class="ic-datepicker-year-select-options">
            <button (click)="hideYearSelectMode()" type="button" class="close-year-select">
                &times;
            </button>
        </div>

        <div [style.display]="yearSelectMode ? 'none' : 'block'">
            <div class="ic-datepicker-day-labels">
            <span *ngFor="let dayLabel of dayLabels" class="cell day-label">
              {{ dayLabel }}
            </span>
            </div>

            <div class="ic-datepicker-dates">
                <button
                        *ngFor="let day of periodDays"
                        (click)="setSelectedDay($event, day)"
                        [ngClass]="{ today: day.isToday, selected: day.isSelected, weekend: day.isWeekend }"
                        [disabled]="day.isPlaceholder"
                        type="button"
                        class="cell date"
                >
                    <span *ngIf="day.isPlaceholder">&nbsp;</span>
                    <span *ngIf="!day.isPlaceholder">
                {{ day.moment.format('D') }}
              </span>
                </button>
            </div>
        </div>

        <div [style.display]="yearSelectMode ? 'block' : 'none'">
            Years
        </div>
    </div>
</div>
