<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <ic-datepicker-config-form [exampleDatepickerConfig]="exampleDatepickerConfig" (onConfigChanged)="onConfigChanged($event)"></ic-datepicker-config-form>
    </div>

    <div class="col-6 d-flex align-items-center example-datepicker-column">
      <div class="datepicker-container">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form [formGroup]="exampleDatepickerForm">
              <label for="example-datepicker">
                Example
              </label>
              <ic-datepicker formControlName="datepicker" [options]="exampleDatepickerConfig"></ic-datepicker>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
