.container-fluid {
  margin-top: -2.5rem;

  > .row {
    > div {
      padding: 2.5rem 30px;
      min-height: calc(100vh - 56px);
    }
  }
}

.datepicker-container {
  width: 100%;
}

.example-datepicker-column {
  background: #e0e0e0;
  border-left: 1px solid #d0d0d0;

  pre {
    font-size: 0.95em;
    padding: 1rem;
  }
}
