<div class="container text-center installation">
  <h2 class="title">Installation</h2>

  <div class="row">
    <div class="col install-command">
      <kbd class="command">npm install -S ic-datepicker</kbd>
    </div>
  </div>

  <div class="row separator">
    <div class="col text-center">
      <i class="fa fa-2x fa-long-arrow-down"></i>
    </div>
  </div>

  <div class="row">
    <div class="col text-center code">
      <!-- @todo: TypeScript Hinting / Colours -->
      <pre><code>// app.module.ts

import &#123; IcDatepickerModule &#125; from 'ic-datepicker';

@NgModule(&#123;
  imports: [
    IcDatepickerModule,
  ],
&#125;)
</code></pre>
    </div>
  </div>

  <div class="row separator">
    <div class="col text-center">
      <i class="fa fa-2x fa-long-arrow-down"></i>
    </div>
  </div>

  <div class="row">
    <div class="col text-center code">
      <!-- @todo: TypeScript Hinting / Colours -->
      <pre><code>&lt;ic-datepicker-component options="datepickerOptions"&gt;&lt;/ic-datepicker-component&gt;
</code></pre>
    </div>
  </div>
</div>
